/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-btn {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.move-btn:hover {
  background-color: rgba(240, 248, 255, 0.231);
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}
.score {
  margin-top: 60px;
}

.reset-score-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
}
